.App_Github {
  text-align: center;
  margin-bottom: 20px;

  &Link {
    display: inline;
    text-decoration: none;
    color: rgb(75, 75, 75);
    transition: all 0.25s ease;

    &:hover,
    &:focus {
      color: gray
    }
  }
}
