@import './base';

.DL-tasks {
  max-width: 300px;
  padding: 0;
  margin: 20px auto 60px;

  &_Item {
    list-style-type: none;
  }

  &_Button {
    @include taskButton;

    background-color: #4a2927;
    border: 2px solid #632c28;

    &:hover {
      cursor: pointer;
    }

    &.color {
      &__current {
        background-color: $color-current;
        border-color: $color-border-current;
        box-shadow: 0 0 20px $color-border-current;
      }

      &__medium {
        background-color: $color-medium;
        border-color: $color-border-medium;
        box-shadow: 0 0 10px $color-border-medium;
      }

      &__long {
        background-color: $color-long;
        border-color: $color-border-long;
        box-shadow: 0 0 5px $color-border-long;
      }
    }

    &Title {
      text-align: left;
      padding-right: 20px;
    }

    &Duration {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
